sudo: required
os: linux
dist: trusty
language: cpp
compiler: gcc
env:
  global:
  - QT_PPA=qt-5.10.1-trusty
  - QT_MAJOR=qt510
  - QT_MINOR=qt510
  - QTC_VERSION=${QT_MAJOR}creator
  - QTC_RELEASE=4.6
  - QTC_BUILD=/opt/${QT_MAJOR}
  - QTC_SOURCE=${TRAVIS_BUILD_DIR}/${QTC_VERSION}
  - QTC_LIBRARY_BASENAME=lib/x86_64-linux-gnu
  - PROJECT_PRO_FILE="testmycode.pro"
  - BUILD_OUTPUT_PATH=${TRAVIS_BUILD_DIR}
  - QMAKE_PARAMS="-spec linux-g++ CONFIG+=test"
install:
- sudo add-apt-repository -s -y ppa:beineri/opt-${QT_PPA}
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq
- sudo apt-get install gcc-7 g++-7
- sudo apt-get build-dep ${QTC_VERSION}
- sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 90
- sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90
- git clone -b ${QTC_RELEASE} --single-branch --depth 1 https://github.com/qt-creator/qt-creator.git ${QTC_SOURCE}
script:
- source /opt/${QT_MAJOR}/bin/${QT_MAJOR}-env.sh
- qmake ${PROJECT_PRO_FILE} -r ${QMAKE_PARAMS}
- make
- make check
notifications:
  slack:
    secure: puFMSz5eIo53RACr8gV/qUISsQjj+tn3WhUtsbfj7QEE15hSQge2J+vABNAiFkokciHdwxdb3VRke/ttmJiqEG6vIja57QBweMZAa5uIL5RAPE9xgtwETR0xkTlbBogfThVpKOhnd8YgjY62CpXlWiVpInBuXuslHMN8VDzFqinBvJLoVrRwQScF3o1V9MC2kszrYGCvkCr7THWZWjD4UlQfYgfNWw9qE33jNndzLPotJ9OMmKcrPG19SCk3kV8/rpJtZnOUJi+qYJaT91HYY2uvv12j9olCRQvXyz46BpimdxIeIuWMGsPSosWFFFvZVUT2XPbkDzR+a0C/Ik5RkX6Sz6GusSyfRrfiWIuKLyekBj0gRfO5Z+/BsGmJQUy26MwRy3K2z28gY5CPSK2uK6a/DRbxOUSH/62zvM0u8zmVK13u5CD0iJ8OJAQfC9EPKNaVvOygg3igHJYhxByO1qKo+PnhT1Cj3Qgo6dRWQm/JPMygBDT9XQ1oLtcBSnJeUnS/pmArHInWjvA6Yl004UbKFXcOCKGwzdHI2L0r5s5VIRLF6zE2cDmPsN8THkdLShpWivijmQot5Cn4Qhtial/+cZ2md2Iq9qwA2u7Y9b7eKid2IfLTEQ/WDgWJd3M5tUaA9DEkbPQbZNkGIOButZVHyM3+3Vn9Lyu3fn9tNHI=
